.header {
    background: #000;
}

.header-inner {
    padding: 10px 0 20px 20px;
    max-width: 90%;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-right: 30px;
}

.header-utilities nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.header-nav-search {
    flex-grow: 0.5;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }


.header-nav-link {
    text-decoration: none;
    color: inherit;
}

.logout-btn {
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: transparent;
    color: #fff;
}


.header-nav-btn {
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.listing-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.header-items {
    width: 90%;
    margin-left: 20px;
    padding: 0 20px;
}

.search-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .header-logo img {
        max-width: 150px;
        height: auto;
    }


    .header-inner {
        margin: 0 auto;
        max-width: 100%;
    }
}