.tab {
    margin-top: 20px;
    border-bottom: 2px solid black;
    width: 100%;
}

.tabs-menu {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.tab-item {
    list-style: none;
    font-size: 18px;
    padding: 5px 15px;
}

.tab-item.active .tab-title {
    font-weight: bold;
    color: #ff5555;
}

.tab-title {
    text-decoration: none;
    color: #333;
}

.tab-unread-count {
    background-color: red;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 18px;
    color: white;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.item-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
}

.item-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.item-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.unread-marker {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    padding: 3px 10px;
    font-size: 20px;
    color: white;
}

.sold-label {
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 90%;
}

.profile-thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-name {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 20px 0 30px;
}

.profile-edit-btn {
    padding: 10px 20px;
    background-color: white;
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    margin-left:200px;
}

.profile-edit-btn:hover {
    background-color: #0056b3;
}

.registration-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.evaluation {
    margin-top: 10px;
    text-align: center;
}

.star {
    color: #ccc;
}

.star.filled {
    color: gold;/
}

.stars {
    display: inline-block;
    font-size: 40px;
}

.no-value {
    color: #ccc;
    display: inline-block;
    font-size: 40px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .tabs-menu {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
}