
.form-container {
    width: 43%;
    margin: 0 auto;
    padding: 20px;
}

.listing-heading{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form-subheading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -2px;
    color: #444;
}

.form-heading {
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.form-input::before {
    content: "￥";
    font-size: 16px;
    color: #333;
    margin-right: 5px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%)
}

/* フォーム要素 */
.listing-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    background-color: white;
    border: 2px dashed black;
    border-radius: 5px;
}

.file-upload-btn {
    padding: 7px 13px;
    font-size: 14px;
    color: #ff5555;
    background-color: white;
    border: 2px solid #ff5555;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload-btn:hover {
    color: white;
    background-color: #ff5555;
}

.form-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5%;
    color: #333;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-textarea {
    resize: vertical;
}

/* カテゴリボタン */
.category-btn {
    display: inline-block;
    margin: 10px 4px;
    padding: 6px 15px;
    font-size: 11px;
    color: #ff5555;
    background-color: white;
    border: 1px solid #ff5555;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
}
.category-btn.selected {
    color: white;
    background-color: #ff5555;
}


.category-section,
.condition-section {
    margin-top: 30px;

}

/* 送信ボタン */
.submit-btn {

    width: 100%;
    padding: 12px 25px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff5555;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.submit-btn:hover {
    background-color: #218838;
}

/* エラーメッセージ */
.error-alert {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

.error-alert-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.error-alert-list li {
    margin-bottom: 5px;
}