.login-content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 37%;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form-input input {
    padding: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form-submit {
    font-size: large;
    padding: 10px;
    margin-top: 60px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
}

.register-link {
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(141, 174, 235);
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .login-content {
        padding: 30px 20px;
    }

    .form {
        width: 80%;
    }

    .login-title {
        font-size: 1.5rem;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-label {
        font-size: 1rem;
    }

    .form-input input {
        height: 40px;
    }

    .form-submit {
        font-size: 1.1rem;
        height: 55px;
    }

    .register-link {
        font-size: 1rem;
    }
}