.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 37%;
}

.form__theme {
    text-align: left;
    margin-bottom: 5px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input{
    padding: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button-submit {
    font-size: large;
    padding: 10px;
    margin-top: 60px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
}

.login__button-submit {
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(141, 174, 235);
}
